@model List<TSB100_lab.DiaryContent>
@{
    ViewBag.Title = "Dagbok";
}

<h2>Index</h2>
<h3>@ViewBag.Alert</h3>
<table class="table">
    <tr>
        <th>
            <p>Author</p>
        </th>
        <th>
            <p>Date</p>
        </th>
        <th>
            <p>Entry</p>
        </th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Author)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        @if (item.Important == true)
        {
            <td style="font-weight: bold" >
                @Html.DisplayFor(modelItem => item.Entry)
            </td>
        }
        else
        {
            <td>
                @Html.DisplayFor(modelItem => item.Entry)
            </td>
        }
        <td>
            @Html.ActionLink("Ändra", "EditEntry", new { id = item.Id }) |
            @Html.ActionLink("Radera", "DeleteEntry", new { id = item.Id })
        </td>
    </tr>
    }
</table>
<div class="row">
    @Html.ActionLink("Skapa nytt inlägg", "CreateEntry", new { @class="btn btn-default" })
</div>
